@import "common/var.less";
.swipe_wrapper {
  height: @swipe-height;
  width: 100%;
  .swipe_list {
    height: 100%;
    overflow: hidden;
    .list-box {
      height: 100%;
      float: left;
      img {
        height: 100%;
      }
    }
  }
}